<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ipad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CC49D81C9A4BAA000725FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC49EC1C9A4BAB000725FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC49F71C9A4BAB000725FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
